:root {
  /* TODO */
  --green: green;
  --yellow: yellow;
}

body, p, h1, h2, h3 {
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #081b24;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(0px, 1460px) 1fr;
  grid-template-rows: 70px minmax(calc(100vh - 140px), auto) 70px;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
}

.top-nav {
  grid-area: header;
  display: grid;
  grid-template-areas:
  "logo search .";
  align-items: center;
  grid-template-columns: 1fr 360px 1fr;
  padding: 0 30px;
  border-bottom: 2px solid #0a1e28;
}

.logo {
  grid-area: logo;
  font-size: 32px;
  color: #eea84e;
  font-weight: 600;
}

.search {
  grid-area: search;
  justify-self: center;
}

.search > *,
.units {
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  color: #e6e6e6;
}

.search-input {
  font-family: 'Nunito', sans-serif;
  background-color: #1c3242;
  padding: 4px 14px;
  width: 300px;
}

.search-submit,
.units {
  margin-left: 8px;
  background-color: #1c3242;
  transition: all .3s;
  cursor: pointer;
}

.search-submit {
  width: 40px;
}

.search-submit:hover {
  background-color: #eea84e;
  transition: all .3s;
}

.units {
  font-size: 14px;
  padding: 4px 14px;
}

.settings {
  justify-self: right;
}

.main-container {
  grid-area: main;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
    "weather weather"
    "hourly daily";
  color: #e6e6e6;
  margin: 30px;
}

.main-container > * {
  background-color: #0a1e28;
  border-radius: 30px;
  padding: 30px;
}

.weather-container {
  grid-area: weather;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .heading {
  margin-bottom: 16px;
  text-align: center;
}

.heading > h2 {
  font-size: 32px;
  margin-bottom: 4px;
}

.big-info {
  margin-bottom: 4px;
  font-size: 32px;
  font-weight: 600;
}

.big-icon {
  margin-right: 12px;
  font-size: 64px;
  color: #eea84e;
}

.pill {
  padding: 6px 12px;
  background-color: #1c3242;
  border-radius: 27px;
  margin: 0 8px 8px 0;
  border: 1px solid #44799d;
 }

 .pill > i {
  color: #44799d;
}

.section-flex {
  display: flex;
  flex-wrap: wrap;
}

.section-flex > span:last-child {
  margin-right: 0;
}

.section-top-info {
  column-gap: 30px;
}

.section-additional {
  margin-bottom: 16px;
}

.top-info-temp,
.top-info-wind {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.top-info-details-title {
  font-size: 14px;
}

.additional-title {
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
}

.current-date-time {
  text-align: center;
}

.data-current-uvi {
  padding: 2px 3px;
  border-radius: 13px;
  background-color: green;
}

.footer {
  grid-area: footer;
  border-top: 2px solid #0a1e28;
}

@media only screen and (max-width: 1200px)   {
  .wrapper {
    grid-template-columns: auto 1fr auto;
  }
  .main-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
      "weather"
      "info"
      "hourly"
      "daily";
  }
  .section-flex {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px)   {
  .wrapper {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto minmax(calc(100vh - 202px), auto) 70px
  }

  .top-nav {
    grid-template-columns: 1fr 354px 1fr;
    grid-template-areas:
    ". logo ."
    ". search .";
  }

  .top-nav > * {
    margin-bottom: 15px;
  }

  .logo {
    margin-top: 15px;
    text-align: center;
  }
}
