:root {
  --blue: #184F77;
  --light-blue: #178BAD;
  --white: #FFFFFF;
  --transparent-white: rgba(255, 255, 255, 0.5);
  --warning-green: #7EB356;
  --warning-yellow: #F9C74F;
  --warning-orange: #ED8607;
  --warning-red: #F94144;
}

body, p, h1, h2, h3 {
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: var(--white);
  background-color: var(--blue);
  background: var(--blue);
  background: -webkit-linear-gradient(top, var(--light-blue), var(--blue));
  background: -moz-linear-gradient(top, var(--light-blue), var(--blue));
  background: linear-gradient(to bottom, var(--light-blue), var(--blue));;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr minmax(0px, 992px) 1fr;
  grid-template-rows: auto auto 1fr 70px;
  grid-template-areas:
    "header header header"
    ". error ."
    ". main ."
    "footer footer footer";
}

.top-nav {
  grid-area: header;
  display: grid;
  grid-template-areas:
  "logo search settings";
  align-items: center;
  grid-template-columns: 1fr 360px 1fr;
  padding: 0 32px;
  margin: 16px 0;
}

.logo {
  grid-area: logo;
  font-size: 32px;
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}

.search {
  grid-area: search;
  justify-self: center;
}

.search > *:not(.error) {
  background-color: #1c3242;
  height: 40px;
  border: none;
  font-size: 18px;
  color: var(--white);
}

.search-input {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  padding: 4px 0 4px 16px;
  width: 256px;
  border-radius: 20px 0 0 20px;
  outline: none;
}

.search-submit {
  transition: all .3s;
  cursor: pointer;
  width: 52px;
  line-height: 1;
  border-radius: 0 20px 20px 0;
}

/* .search-submit:hover {
  color: var(--blue);
  transition: all .3s;
} */

.settings {
  grid-area: settings;
  justify-self: end;
}

.units {
  margin-left: 8px;
  background-color: #1c3242;
  transition: all .3s;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 16px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: var(--white);
  font-weight: 700;
}

.units:hover {
  background-color: var(--blue);
}

.error {
  grid-area: error;
  font-weight: 700;
  color: var(--warning-red);
  background-color: var(--white);
  padding: 4px 16px;
  border-radius: 24px;
  margin-bottom: 16px;
  justify-self: center;
  text-align: center;
}

.main-container {
  grid-area: main;
  display: grid;
  row-gap: 64px;
  column-gap: 32px;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
    "title title"
    "weather details";
  color: var(--white);
  margin: 32px;
  justify-items: center;
}

.section-heading {
  grid-area: title;
  text-align: center;
  font-size: 28px;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.location-details {
  font-size: 20px;
  color: var(--transparent-white);
  font-weight: 700;
}

.section-weather {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.weather-main {
  display: flex;
  align-items: center;
}

.big-icon {
  margin-right: 16px;
  font-size: 64px;
  color: var(--white);
}

.big-info {
  font-size: 48px;
  font-weight: 700;
}

.weather-desc {
  font-size: 24px;
  font-weight: 700;
}

.weather-details {
  color: var(--transparent-white);
  font-weight: 700;
  font-size: 18px;
}

.section-details {
  grid-area: details;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.details-title {
  color: var(--transparent-white);
  font-weight: 700;
}

.details-data {
  font-size: 24px;
  font-weight: 700;
  margin-top: 4px;
}

.top-info-details-title {
  font-size: 14px;
}

.data-uvi {
  padding: 1px 10px;
  border-radius: 20px;
}

.uvi-green {background-color: var(--warning-green);}
.uvi-yellow {background-color: var(--warning-yellow);}
.uvi-orange {background-color: var(--warning-orange);}
.uvi-red {background-color: var(--warning-red);}

.footer {
  grid-area: footer;
}

@media only screen and (max-width: 992px)   {
  .wrapper {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto minmax(calc(100vh - 187px), auto) 70px;
  }

  .top-nav {
    grid-template-rows: auto;
    grid-template-areas:
    "logo search ."
    ". settings .";
  }

  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
      "title"
      "weather"
      "details";
  }

  .settings {
    justify-self: center;
    margin-top: 16px;
  }

  .section-weather {
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px)   {
  .wrapper {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto minmax(calc(100vh - 227px), auto) 70px
  }

  .top-nav {
    grid-template-columns: 1fr 354px 1fr;
    grid-template-rows: auto 56px 40px;
    grid-template-areas:
    ". logo ."
    ". search ."
    ". settings ."
  }

  .top-nav > *:not(:last-child){
    margin-bottom: 16px;
  }

  .settings {
    margin-top: 0;
  }

  .logo {
    text-align: center;
  }
}
